NameVirtualHost *:80

<VirtualHost *:80>
    ServerName web-02.my-site-02.com
    ServerAlias my-site-02.com
    DocumentRoot /var/www/my-site-02.com/html
    ErrorLog /var/www/my-site-02.com/log/error.log
    CustomLog /var/www/my-site-02.com/log/requests.log combined
</VirtualHost>